$image-index: 1;

@mixin set-movies-image {
  ul > li {
    @for $j from 1 through 10 {
      $image-index: $image-index + 1 !global;
      &:nth-child(#{$j}) {
        background-image: url(/static/assets/images/#{$image-index}.jpg);
      }
    }
  }
}

@mixin fill-sections {
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      @include set-movies-image;
    }
  }
}

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}