// colors
$primary-background: #141414;
$secondary-background: rgb(20, 20, 20);
$transparent-background: rgba(51,51,51,.4);

$primary-red: #e50914;
$primary-white: #e5e5e5;

$themes: (
  light: (
    backgroundColor: $primary-white,
    textColor: $primary-background,
  ),
  dark: (
    backgroundColor: $primary-background,
    textColor: $primary-white,
  ),
  spfc: (
    backgroundColor:  black,
    textColor: #aa0000,
  )
);

$primary-grey: grey;

$font-family: 'Roboto', sans-serif;
$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-large: 24px;
$font-size-x-large: 32px;
$font-size-x-large: 48px;


$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 60px;

