@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("/static/assets/fonts/Roboto/Roboto-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src: url("/static/assets/fonts/Roboto/Roboto-Italic.ttf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("/static/assets/fonts/Roboto/Roboto-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("/static/assets/fonts/Roboto/Roboto-Bold.ttf") format("opentype");
}
